div(layout="row" ng-controller="navbarCtrl" flex)
    md-input(label="微博搜索" placeholder="微博搜索" name="query" ng-model="query" ng-change="search()")
    div(flex)
    md-button.md-warn(ng-click="logout()") 注销