div.modal.fade
    div.modal-dialog
        div.modal-content
            div.modal-header
                h3 发微博
            div.modal-body
                form(role='form' name='postForm' enctype="multipart/form-data" ng-submit="postweibo()")
                    textarea.form-control(placeholder="写点东西吧" ng-model="content" row="6" style="width: 100%", required, autofocus=)
                    md-button.md-raised.md-primary(type="submit" style="float: right; width: 80px; margin-top: 20px;" ng-disabled="!postForm.$valid") 发微博
                p(style="margin-top: 50px;") 发发微博，记录心情点滴