doctype html
html(ng-app="weiboApp")
    head(lang="en")
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
        title 一个微博
        link(rel="stylesheet" href="/assets/stylesheet/main.css")
        link(rel="stylesheet" href="/assets/bower_components/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="/assets/bower_components/angular-material/angular-material.min.css")
        script(src="/assets/bower_components/hammerjs/hammer.min.js")
        script(src="/assets/bower_components/angular/angular.min.js")
        script(src="/assets/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js")
        script(src="/assets/bower_components/angular-animate/angular-animate.min.js")
        script(src="/assets/bower_components/angular-aria/angular-aria.min.js")
        script(src="/assets/bower_components/angular-material/angular-material.min.js")
        script(src="/assets/bower_components/angular-ui-router/release/angular-ui-router.min.js")
        script(src="/assets/bower_components/angular-route/angular-route.min.js")
        script(src="/assets/bower_components/angular-cookies/angular-cookies.min.js")
        script(src="/assets/bower_components/angular-resource/angular-resource.min.js")
        script(src="/assets/app/app.js")
        script(src="/assets/app/directives/configDirective.js")
        script(src="/assets/app/directives/fileModelDirective.js")
        script(src="/assets/app/services/authService.js")
        script(src="/assets/app/services/searchService.js")
        script(src="/assets/app/services/weiboService.js")
        script(src="/assets/app/services/userService.js")
        script(src="/assets/app/factories/weiboFactory.js")
        script(src="/assets/app/factories/configFactory.js")
        script(src="/assets/app/controllers/loginController.js")
        script(src="/assets/app/controllers/navigationController.js")
        script(src="/assets/app/controllers/weiboController.js")
        script(src="/assets/app/controllers/toastController.js")
        script(src="/assets/app/controllers/navContentController.js")
        script(src="/assets/app/controllers/navbarController.js")
        script(src="/assets/app/controllers/registerController.js")
        script(src="/assets/app/controllers/uploadModalController.js")
        script(src="/assets/app/controllers/postWeiboController.js")
        script(src="/assets/app/controllers/userInformationController.js")

body(layout="row")
    md-sidenav.md-sidenav-left.md-whiteframe-z2.md-locked-open(layout="column" md-component-id="left" style="overflow: hidden; display: flex;" md-is-locked-open="true")
        md-toolbar.md-default-theme.md-whiteframe-z1
            .md-toolbar-tools
                a(href="#/")
                    span(app-name)

        div(ui-view="navcontent")

    div(layout="column" role="main", layout-fill, flex)
        md-toolbar.md-default-theme.md-whiteframe-z1(layout="column")
            div.md-toolbar-tools(ui-view="navbar")
        div(ui-view="content")